<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.easyexceldemo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.niuma.easyexceldemo.model.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="oldScore" column="oldScore" jdbcType="INTEGER"/>
            <result property="currentScore" column="currentScore" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,oldScore,
        currentScore
    </sql>
</mapper>
